@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700&family=Pixelify+Sans:wght@600&display=swap');

@import "tailwindcss";

@theme {
    /*Font Family*/
    --font-albert: 'Albert Sans', sans-serif;
    --font-pixelify: 'Pixelify Sans', sans-serif;
    /*Font Sizes*/
    --text-h1: clamp(3rem, calc(6vw + 1rem), 5rem);
    --text-h2: clamp(0.8125rem, calc(2vw + .5rem), 0.9375rem);
    --text-h3: clamp(2.2rem, calc(6vw + 1rem), 4.4rem);
    --text-nav-link: clamp(3.2rem, calc(5vw + 2rem), 4.6rem);
    --text-normal: clamp(1rem, calc(1.2vw + .75rem), 1.25rem);
    --text-logo: clamp(2.125rem, 1.5vw, 2.625rem);
    /*Line Height*/
    --leading-118: 118%;
    --leading-110: 110%;
    --leading-140: 140%;
    /*Letter Spacing*/
    --tracking-04: -0.04em;
    /*Colors*/
    --color-grey-1c: #1C1C1C;
    --color-grey-6c: #6C6C6C;
    --color-grey-4c: #4C4C4C;
    --color-grey-5c: #5C5C5C;
    --color-grey-44: #444444;
    --color-grey-9c: #9C9C9C;
    --color-grey-2c: #2C2C2C;
    --color-grey-3c: #3C3C3C;
    --color-grey-7c: #7C7C7C;
    --color-grey-8c: #8C8C8C;
    --color-white: #FFFFFF;
}

html {
    @apply bg-white font-albert ;
}

body {
    @apply font-normal leading-140 text-grey-5c text-normal;
}

a {
    @apply inline-block no-underline;
}

@utility wrapper {
    @apply flex flex-col min-h-full overflow-clip;
}

@utility container {
    @apply mx-auto max-w-340 px-3.5;
}

@utility h1 {
    @apply font-semibold text-h1 tracking-tighter leading-118 text-grey-1c;
}

@utility h2 {
    @apply font-medium text-h2 leading-140 text-grey-5c;
}

@utility h3 {
    @apply font-medium text-h3 tracking-04 leading-110 text-grey-44;
}
@utility nav-link {
    @apply font-medium text-nav-link tracking-04 leading-110 text-grey-44;
}

@utility logo {
    @apply uppercase font-pixelify font-semibold text-grey-1c text-logo border border-grey-1c bg-white;
}

@utility burger-span {
    @apply absolute left-0 block h-0.75 w-full bg-grey-1c rounded-full;
}